/* #intervention_building_id_input {
    display: none;
}

#intervention_battery_id_input {
    display: none;
}

#intervention_column_id_input {
    display: none;
}

#intervention_elevator_id_input {
    display: none;
}

} */
#intervention_author_id_input {
  display: none;
}
